* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: sans-serif;
}
/* Header Pagina */
header, main {
    background-color: black;
}
header {
    height: 55px;
    text-align: right;
}
header div button {
    padding-top: 4px;
}
header div button {
    border-radius: 5px;
    border: none;
    background-color: #4a4a4a;
    padding: 10px 10px;
}   
header button a:active, header button a:focus, {
    color:inherit;
    text-decoration:inherit;
}   
/* Corpo Pagina */
main {
    height: calc(100vh - 126px);
    overflow-y: auto;
}
.container-vd {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.vd {
    position: relative;
    width: 223px;
    height: 132px;
    background-image: url("https://picsum.photos/seed/picsum/200");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid rgb(0, 0, 0);
}
.vd p {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 2px 5px 5px;
}
/* Footer Pagina */
footer {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
footer p {
    font-size: 14px;
}
.audio-video-settings, .commands, .end-call {
   flex-shrink: 0; 
}
footer, .audio-video-settings, .commands, .commands ul, .end-call  {
    height: 70px;
}
.audio-video-settings {
    flex-basis: calc(25vw / 2);
    display: flex;
}
.audio-video-settings ul {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    text-align: center;
}
.audio-video-settings ul li button {
    padding: 0;
    font-size: 2rem;
    padding: 5px 10px;
    border:none;
    background-color: #222222;
    text-align: center;
}
< !-- Parte comandi -->
.commands {
    flex-basis:75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.commands ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.commands ul li {
    padding: 5px;
}
.commands ul li i, .audio-video-settings ul li i {
    padding: 0;
    font-size: 1.5rem;
    padding-bottom: 5px;
}
< !-- Parti comandi termina meeting -->
.end-call {
    flex-basis: calc(25vw / 2);
}
.end-call button {
    color: red;
    padding:0;
    line-height: 70px;
    font-weight: bold;
    background-color: #4a4a4a;
    border: none;
}
.fa-share-from-square {
    color: rgb(0, 200, 0);
}
.fa-angle-up.arr  {
    font-size: 10px;
}
.commands ul, .end-call, .audio-video-settings {
    text-align: center;
}
.fa-solid {
    padding-right: 10px;
}
