* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Times New Roman";
}
/* Header Pagina */
header, main {
    background-color: black;
}
header {
    height: 10vh;
    text-align: right;
}
header > div {
    padding-top: 1vh;
}
header div button {
    border-radius: 5px;
    border: none;
    background-color: #4a4a4a;
    padding: 1vh 0.5vw;
}   
header div button a {
    display: inline-block;
    font-size: 1em;
    text-decoration: none;
}   
.spk-btn-icon {
    margin-right: 1vw;
}   
header button a:active, header button a:focus, {
    color:inherit;
    text-decoration:inherit;
}   
/* Corpo Pagina */
main {
    height: 81vh;
}
.container-vd {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.vd {
    position: relative;
    width: calc(90vw / 7);
    height: calc(80vh / 5);
    background-image: url("https://picsum.photos/seed/picsum/200");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid rgb(0, 0, 0);
}
.vd p {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2vh 2vw 0.2vh 0.2vw;
}
/* Footer Pagina */
footer {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
footer p {
    font-size: 14px;
}
footer, .audio-video-settings, .commands, .commands ul, .end-call  {
    height: 9vh;
}
.audio-video-settings {
    flex-basis: calc(25vw / 2);
    display: flex;
}
.audio-video-settings ul {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    text-align: center;
}
.audio-video-settings ul li {
    text-align: center;
}
.audio-video-settings ul li i {
    padding: 0 1vw 0 0.5vw;
    font-size: 2rem;
    padding-bottom: 5px;
}
#st {
    width: 106%;
}
< !-- Parte comandi -->
.commands {
    flex-basis:75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.commands ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.commands ul li {
    padding: 5px;
}
.commands ul li i, .audio-video-settings ul li i {
    padding: 0 0.5vw;
    font-size: 1.5rem;
    padding-bottom: 5px;
}
< !-- Parti comandi termina meeting -->
.end-call {
    flex-basis: calc(25vw / 2);
}
.end-call a {
    color: red;
    text-decoration: none;
    padding:1.7rem 1rem;
    line-height: 9vh;
    font-weight: bold;
    background-color: #4a4a4a;
}
.fa-share-from-square {
    color: rgb(0, 200, 0);
}
.fa-angle-up.arr  {
    font-size: 10px;
}
.commands ul, .end-call, .audio-video-settings {
    text-align: center;
}